{
# Pas de configuration globale spécifique requise ici
}

:80 {
    log {
            output file /var/log/caddy_access.log
        }

# Active FrankenPHP pour ce site
    frankenphp

# Racine du projet Symfony
    root * /app/public
    encode gzip zstd
    file_server
}