{
# Pas de configuration globale spécifique requise ici
}

:80 {
    log {
            output file /var/log/caddy_access.log
        }

# C'est "php_server" qu'il faut utiliser, pas "frankenphp"
    php_server

# Racine du projet Symfony (le dossier public)
    root * /app/public
    encode gzip zstd
    file_server
}